* {
  box-sizing: border-box;
  font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
}

html {
  position: relative;
  min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
}

.navbar {
  background-color: white;
  padding-bottom: 0px;
}
#yourName {
  color: white;
  background-color: #4aaaa5;
  padding: 25px 32px;
  margin: 0px;
}

#navbarList {
  /* list-style-type: none; */
  /* display: inline-block; */
  margin: 0;
  height: 82px;
  float: right;
  padding: 25px 0px; 
}

body{
  background-image: url(../images/circles.png);
  margin-bottom: 60px;
}

.tealColor {
  color: #4aaaa5;
}

#connectWithMe {
  text-align: center;
}

#headshot {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.sidebarImg {
	padding: 20px 0px;
	margin: 0px 0px 0px 45px;
}


footer h5 { 
  padding-top: 22px;
}

.images {
  float: left;
  margin-left: 30px;
  margin-top: 40px;
  padding-bottom: 14px;
  padding-left: 10px;
  position: relative;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90px;
  text-align: center;
  border-top: 8px solid #4aaaa5;
  background-color: #666666;
  color: white;
}

.portfolioText {
  height:57px;
  width:256px;
  background-color: #4aaaa5;
  color: white;
  text-align: center;
  font-size: 25px;
  padding-top: 14px;
  position: absolute;
  top: 122px;
}

.portLinks {
  color: white;
}

label {
  display: block;
  padding: 10px 0;
}

input {
  width: 100%;
  height: 35px;
  padding-left: 10px;
}

textarea {
  width: 100%;
}

.submitBtn {
  width: 100px;
  height: 41px;
  background-color: #4aaaa5;
  color: white;
  font-size: 15px;
  margin: 12px 0 25px 0;
  border-radius: 0px;
  border: none;
}